<table style="width:100%; font-size: 11px; text-align:center" class="table-bordered table-hover">
  <thead>
    <tr>
      <th>Team</th>
      <% (1..38).each do |n| %>
        <% if n >= @curr_gw %>
          <th style="text-align:center">GW<%= n %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @teams.keys.each do |t| %>
      <tr style="height: 15px;">
        <td style="padding: 2px;">
          <div class="short_team_name <%= @teams[t].fpl_acrynm_name %>"
               style="width:50px;" >
            <%= @teams[t].fpl_acrynm_name %>
          </div>
        </td>
        <td>
        <% @fixtures[@teams[t].fpl_team_name].each_with_index do |f, index| %>
        <% debug f %>
            <% if f['gw'] >= @curr_gw %>
              <% if index > 0 and (@fixtures[@teams[t].fpl_team_name][index]["gw"] - @fixtures[@teams[t].fpl_team_name][index-1]["gw"]) > 1 %>
              
                <div style="overflow:auto; width:52px">
                  <div class="next_team">
                  </div>
                  <div class="next_at">
                  </div>
                  
                </div>
              </td><td>
              <% end %>
              
                <div style="overflow:auto; width:52px">
                  <div class="next_team"
                    style="background-color:<%= rgbify(@vals['max_def'], @vals['min_def'], @teams[f['vs']].team_performance.def_avg, false) %>;
                            color:#10214a;">
                    <%= @short_name[f['vs']] %>
                  </div>
                  <div class="next_at <%= f['at'] %> ">
                    <%= f['at'] %>
                  </div>
                </div>
                  <% if (index < @fixtures[@teams[t].fpl_team_name].size-1) and (@fixtures[@teams[t].fpl_team_name][index]["gw"] != @fixtures[@teams[t].fpl_team_name][index+1]["gw"]) %> 
                </td><td>
                  <% end %>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
